<%#
Copyright (C) 2009 Cognifide

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Taskboard</title>	
	<%= stylesheet_link_tag 'taskboard' %>
	<%= stylesheet_link_tag 'print', :media => "print" %>
	<!-- TODO: pack jQuery and plugins for production -->
	<%= javascript_include_tag 'lib/jquery', 'lib/jquery-ui.min', 'lib/jquery.jeditable', 'lib/jquery.colorpicker', 'lib/jquery.flot', 'lib/jquery.cookie', 'lib/jquery.address-1.0.min', 'lib/showdown' %>
	<%= javascript_include_tag 'lib/juggernaut/swfobject', 'lib/juggernaut/juggernaut', 'lib/juggernaut/jquerynaut', 'lib/juggernaut/json' %>
	<%= javascript_include_tag 'utils', 'taskboard', 'tags', 'url' %>

	<%= javascript_tag "$.extend(TASKBOARD, { id : '#{@taskboard_id}'});" %>
	<%= javascript_tag "$.extend(TASKBOARD, { editor : #{session[:editor]}});" %>
	<%= javascript_tag "$.extend(TASKBOARD, { authenticity_token : #{form_authenticity_token.inspect} });" if protect_against_forgery? %>
	<%= juggernaut :channels => [@taskboard_id], :debug => false %>
	<!--[if IE]>
	<%= javascript_include_tag 'lib/excanvas.compiled' %>
	<![endif]-->
</head>
<body>
	<div id="header">
	<div id="headerBar">
		<h1><%= link_to "Taskboard", { :controller => "taskboard", :action => "index" }, :title => "Back to taskboards list", :rel => 'home' %></h1>
		<ul id="actions">
			<% if session[:editor] -%>
			<li><a class="actionAddCards" href="#" title="Add some cards to this taskboard">Add cards</a></li>
			<li><a class="actionAddColumn" href="#" title="Add a column to this taskboard">Add column</a></li>
			<li><a class="actionAddRow" href="#" title="Add a row to this taskboard">Add row</a></li>
			<% end -%>
			<li><a class="actionShowTagSearch" href="#" title="Filter cards by tags">Tags</a></li>
			<li><a class="actionToggleAll" href="#" title="Zoom cards view">Zoom</a></li>
			<li><a class="actionShowBurndown" href="#" title="Show burndown chart for this taskboard">Burndown</a></li>
			<li class="user"><%= render :partial => "login/user_meta" %></li>
		</ul>
	</div>
		<form id="formActions" action="#">
			<fieldset id="fieldsetAddCards">
				<a class='actionHideForm' href='#' title='Hide'><img src='/images/hide_off.png' alt='Hide'/></a>
				<label for="inputAddCards">Type a card title, JIRA issue or paste a filter URL:</label>
				<input id="inputAddCards" type="text" />
				<input type="submit" value="Add" />
				<span>to</span> <select id="selectColumn"><option>Test</option></select>
			</fieldset>
			<fieldset id="fieldsetAddColumn">
				<a class='actionHideForm' href='#' title='Hide'><img src='/images/hide_off.png' alt='Hide'/></a>
				<label for="inputAddColumn">Type a column name:</label>
				<input id="inputAddColumn" type="text" />
				<input type="submit" value="Add" />
			</fieldset>
			<fieldset id="fieldsetTags">
				<a class='actionHideForm' href='#' title='Hide'><img src='/images/hide_off.png' alt='Hide'/></a>
				<label>Filter cards by tags:</label>
				<ul id="filterTags"></ul>
			</fieldset>
		</form>
	</div>

	<ol id="taskboard">
		<li><!-- just to make it valid --></li>
	</ol>

</body>
</html>
