<%#
Copyright (C) 2009 Cognifide

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<dt><%= project.name %> <span class="counter">(<%= project.taskboards.size %>)</span></dt>
<dd>
	<ul class="taskboards">
	<%= render :partial => 'taskboard/taskboard', :collection => project.taskboards.sort_by(&:name) %>
	<% if session[:editor] -%>
	<li class="addTaskboard">
		<form action="/taskboard/add_taskboard" method="get">
		<fieldset>
			<input type="hidden" name="project_id" value="<%= project.id %>"/>
			<label for="taskboard_name_<%= project.id %>">Add a new taskboard to this project</label>
			<div class="inputs">
			<input type="text" id="taskboard_name_<%= project.id %>" name="name" value="Enter some nice name for your new taskboard"/>
			<input type="submit" value="Add"/>
			</div>
		</fieldset>
		</form>
	</li>
	<% end -%>
	</ul>
</dd>
