<%#
Copyright (C) 2009 Cognifide

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<dt id="project_<%= project.id %>" class="<%= project_counter == 0 ? 'first' : '' %>"><span class="name"><%= project.name %></span> <span class="counter">(<%= project.taskboards.size %>)</span>
	<% if session[:editor] -%>
	<ul class="actions">
		<li class="actionName"></li>
		<li>
			<a href="#" title="Rename this project" rel='rename' class='renameProject'>
			<img src="/images/rename.png" alt="Rename this project" />
			</a>
		</li>
	</ul>
	<% end -%>
</dt>
<dd class="taskboards">
	<ul>
	<% if project.taskboards.size > 0 -%>
	<%= render :partial => 'taskboard/taskboard', :collection => project.taskboards.sort_by(&:name) %>
	<% else -%>
	<li class="empty">There are no taskboards in this project yet.</li>
	<% end %>
	<% if session[:editor] -%>
	<li class="addTaskboard">
		<form action="/taskboard/add_taskboard" method="get">
		<fieldset>
			<input type="hidden" name="project_id" value="<%= project.id %>"/>
			<label for="taskboard_name_<%= project.id %>">Add a new taskboard to this project</label>
			<div class="inputs">
			<input type="text" id="taskboard_name_<%= project.id %>" name="name" value="Enter some nice name for your new taskboard"/>
			<input type="submit" value="Add"/>
			</div>
		</fieldset>
		</form>
	</li>
	<% end -%>
	</ul>
</dd>
